body {
background-image: url("https://c.tenor.com/k4TgrD7WDaUAAAAC/the-rock-face.gif");
color: white;
text-align: center;
font-family: "Brush Script MT", "Courier New", monospace;
font-size: 50px;
border: solid;
align-items: center;
display: flex;
flex-direction: column;
height: 100vh;
width: 100%;
}

#score {
    margin-left: 10px;
}

.scoreKeeper {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  width: 100%;
}

.startButton {
  align-items: center;
  position: absolute;
  background-color: white;
  color: black;
  cursor: pointer;
  display: flex;
  height: 55px;
  width: 100px;
  justify-content: center;
  left: calc(50% - 50px);
  top: calc(50% - 20px);

}
.colors {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.red {
  background-color: red;
}

.red.light {
  background-color: rgb(242, 99, 99);
}

.blue {
  background-color: blue;
}

.blue.light {
  background-color: rgb(99, 161, 242);
}

.green {
  background-color: green;
}

.green.light {
  background-color: rgb(128, 247, 104);
}

.yellow {
  background-color: yellow;
}

.yellow.light {
  background.color: rgb(247, 240, 104);
}

.hidden {
    display: none;
}

@media (min-width: 420px) {
    .colors {
        height: 415px;
        width: 415px;
    }
}
@media (min-width: 520px) {
    .scoreKeeper {
        font-size: 5rem;
    }
    .colors {
        height: 515px;
        width: 515px;
    }
    .startButton {
        font-size: 3rem;
        height: 80px;
        left: calc(50% - 80px);
        top: calc(50% - 40px);
        width: 160px;
    }
}
@media (min-width: 620px) {
    .colors {
        height: 615px;
        width: 615px;
    }
}
