body {
background-image: url("https://c.tenor.com/k4TgrD7WDaUAAAAC/the-rock-face.gif");
color: white;
text-align: center;
font-family: "Brush Script MT", "Courier New", monospace;
font-size: 50px;
border: solid;
}
a:active {
  color: blue;
}
div {
  width: 300px;
  border: 15px violet;
  padding: 50px;
  margin: 20px;
}
